.chart-title {
  display: flex;
  height: 40px;
  font-size: 20px;
  font-family: sans-serif;
  line-height: 26px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}
.inline-input {
  margin: 0px 10px;
  height: 26px;
  font-size: 20px;
}